---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Tarjeta from "../components/Tarjeta.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Quiénes somos?">
    <Navbar/>
    <div class="main">
    <div class="seccion">
        <div class="info-contenedor">
            <h1>¿Quién es FinWise?</h1>
            <p>FinWise es un equipo de educación financiera que empodera a las personas para tomar decisiones inteligentes sobre ahorro, inversión y finanzas personales, ayudándoles a construir un futuro económico seguro.</p>
            <br>
        </div>
    </div>
    <div class="seccion2">
        <h2>Equipo FinWise</h2>
    </div>
    <div class="contenedor">
        <Tarjeta name="Alison Pantoja" imagen="/alis.jpg" correo="abpantojap@utn.edu.ec"></Tarjeta>
        <Tarjeta name="Kerly Carabali" imagen="/kerñy.jpg"correo="kacarvaliv@utn.edu.ec"></Tarjeta>
        <Tarjeta name="Nayeli Castillo" imagen="/naye.jpg"correo="nlcastilloj@utn.edu.ec"></Tarjeta>
        <Tarjeta name="Cristian Morales" imagen="/cris.jpg"correo="cimoralesr@utn.edu.ec"></Tarjeta>
        <Tarjeta name="Cindy Otavalo" imagen="/cindy.jpg"correo="caotavaloc@utn.edu.ec"></Tarjeta>
        <Tarjeta name="Melanie Espín" imagen="/melani.jpeg" correo="mbespinz@utn.edu.ec"></Tarjeta>
        <Tarjeta name="Karen Cabascango" imagen="/karen.jpg" correo="kpcabascangod@utn.edu.ec"></Tarjeta>
    </div>
</div>
<Footer tik="https://www.tiktok.com/@finwisecu?_t=8rINwv49GsC&_r=1" image="/logo.png"></Footer>
</Layout>

<style>
    
    .main{
        width: 100%;
    }
    h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
        color:black;
    }
	
	p{
		font-size: 1.5rem;
	}
.contenedor{
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;     /* Centra los elementos verticalmente */
    width: 70%;
    margin: 0 auto;          /* Centra el contenedor dentro de su contenedor padre */
    flex-wrap: wrap; 
}

.seccion2{
    width: 100%;
    text-align: center;
}

.seccion2 h2{
    font-size: 1.9rem;
}

.info-contenedor {
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    
}

.info-contenedor p {
    width: 40%;
    margin: auto;
    text-align: justify;
}

/* Media Queries para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    .info-contenedor {
        width: 90%; /* Ajusta el ancho del contenedor para pantallas medianas */
        margin-top: 0;
    }

    .info-contenedor p {
        width: 70%; /* Aumenta el ancho del párrafo para mejorar la lectura */
    }
}

    .info-contenedor h1{
        margin-top: 0;
    }
/* Media Queries para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .info-contenedor {
        width: 95%; /* Casi todo el ancho disponible para pantallas pequeñas */
        margin-top: 0;

    }

    .info-contenedor p {
        width: 90%; /* Amplía el párrafo para ocupar más espacio en móviles */
        font-size: 14px; /* Ajusta el tamaño de la fuente para mejorar la legibilidad */
    }
}
</style>