---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="FinWise">
	<main>
		<div id="home">
			<Navbar/>
			<div class="seccion">
				<div class="info-contenedor">
					<h1 >Bienvenido a FinWise</h1>
					<p>Tu camino hacia una vida financiera saludable comienza aquí. Somos tu aliado en el mundo de la educación financiera, y estamos dedicados a brindarte las herramientas y conocimientos necesarios para que tomes el control de tus finanzas y construyas el futuro que deseas.</p>
					<br>
					<button class="arrow-button" onclick="window.open('/servicios', '_self')">Ver más ➜</button>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>

#home {
    position: relative;
    height: 100vh;
    margin-top: 0;
    padding: 0;
	margin-bottom: 0%;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/fondo41.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Envía el fondo detrás del contenido del div */
    opacity: 0.4;
}
	main {
		margin: 0;
		width: 100%;
		height: 100%;
		color: rgb(0, 0, 0);
		font-size: 20px;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		}
	
	p{
		font-size: 1.5rem;
	}

	/* Estilos del botón */
.arrow-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0); /* Color negro con 80% de opacidad */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
	margin: auto;
    border: black solid 2px ;
}

.arrow-button:hover {
    background-color:rgba(255, 255, 255, 0.5);
	transition: 0.5s;
    color: black;
    border: black solid 2px ;
}


/* Media Queries para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem; /* Reduce el tamaño de la fuente en pantallas medianas */
    }
}

/* Media Queries para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem; /* Reduce aún más el tamaño de la fuente en pantallas pequeñas */
    }
}

@media (max-width: 768px) {
  #home {
    height: auto;
	padding: 1rem; /* Adjust height for smaller screens */
  }
}

.Contenedor {
    margin-top: 0;
    width: 100%;
}

.info-contenedor {
    width: 80%;
    margin: auto;
    margin-top: 10vh;
}

.info-contenedor p {
    width: 40%;
    margin: auto;
    text-align: justify;
}

/* Media Queries para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    .info-contenedor {
        width: 90%; /* Ajusta el ancho del contenedor para pantallas medianas */
    }

    .info-contenedor p {
        width: 70%; /* Aumenta el ancho del párrafo para mejorar la lectura */
    }
}

/* Media Queries para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .info-contenedor {
        width: 95%; /* Casi todo el ancho disponible para pantallas pequeñas */
    }

    .info-contenedor p {
        width: 90%; /* Amplía el párrafo para ocupar más espacio en móviles */
        font-size: 14px; /* Ajusta el tamaño de la fuente para mejorar la legibilidad */
    }
}
</style>
