---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Aprende con nosotros">
    <div class="contenedor">
        <Navbar/>
    <div class="Seccion">
        <div class="encabezado">
        <img src="/logo.jpeg" alt="logo">
        <h1>¿Qué es la educación financiera?</h1>
        </div>
        <div class="imagen">
            <img src="/imagen1.jpeg" alt="foto referencial">
        </div>
        <div class="info">
            <p>La educación financiera es el proceso mediante el cual las personas adquieren los conocimientos, habilidades y confianza necesarios para gestionar adecuadamente sus recursos económicos, lo que les permite tomar decisiones informadas y responsables sobre cómo ganar, gastar, ahorrar, invertir y proteger su dinero.
                <br>
                Además de los conceptos básicos, la educación financiera también cubre temas como la gestión de riesgos, planificación tributaria, y cómo planificar para metas a largo plazo como la jubilación, compra de una vivienda o la educación de los hijos. Es un conjunto de herramientas y principios prácticos aplicables a la vida diaria.
            </p>
        </div>
    </div>
    <div class="Seccion">
        <div class="video-container">
            <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/5PAIPVjGMt4" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
        <h2>¿Para qué sirve la educación financiera?</h2>
        <ul>
            <li><strong>Optimización de recursos:</strong> Saber cómo gestionar tu dinero te permite aprovechar al máximo tus ingresos, evitando desperdicios y estableciendo una relación más sana con el dinero.
            </li>
                <li>
            <strong>Desarrollo de hábitos financieros positivos:</strong> La educación financiera te enseña a crear hábitos saludables, como ahorrar regularmente, reducir gastos innecesarios y evitar deudas excesivas.
        </li>
        <li>
            <strong>Reducción del estrés financiero:</strong> Tener conocimiento sobre tus finanzas y cómo manejarlas adecuadamente te da seguridad y confianza, lo que reduce significativamente el estrés relacionado con el dinero.
        </li>
        <li>
            <strong>Toma de decisiones en momentos de incertidumbre:</strong> Cuando enfrentas situaciones complejas como una crisis económica, pérdida de empleo o gastos imprevistos, la educación financiera te ofrece las herramientas para tomar decisiones rápidas y efectivas.
        </li>
        <li>
            <strong>Fomento del emprendimiento:</strong> Los emprendedores, al entender cómo manejar las finanzas personales y empresariales, son más capaces de tomar decisiones informadas para hacer crecer su negocio y asegurar su viabilidad a largo plazo.
Ventajas de la educación financiera
        </li>
        </ul>
        <h2>Ventajas de la educación Financiera</h2>
        <ul>
            <li><strong>Mejores habilidades para administrar el dinero:</strong> Te da las herramientas para ser más organizado, tener control sobre tus gastos y mejorar tu calidad de vida al tomar decisiones financieras más inteligentes.</li>
            <li><strong>Previsión ante emergencias:</strong> La educación financiera te enseña a construir un fondo de emergencia, lo que te ayuda a enfrentar situaciones inesperadas sin afectar gravemente tu estabilidad económica.</li>
            <li><strong>Aumento de la capacidad de ahorro e inversión:</strong> Te ayuda a entender cómo funcionan el ahorro y la inversión, lo que te permite aprovechar oportunidades para aumentar tu riqueza.</li>
            <li><strong>Mayor comprensión de los productos financieros:</strong> Al conocer cómo funcionan productos como cuentas bancarias, seguros, tarjetas de crédito, préstamos y fondos de inversión, puedes evitar riesgos innecesarios y tomar decisiones más acertadas.</li>
            <li><strong>Mejor control de deudas:</strong> Aprender sobre la gestión del crédito y las deudas te permite evitar caer en ciclos de endeudamiento, lo que te ayuda a pagar tus deudas más rápido y con menos costos.</li>
            <li><strong>Facilita la jubilación:</strong> A medida que te educas financieramente, comprendes la importancia de ahorrar para el futuro y te preparas mejor para la jubilación, independientemente del sistema de pensiones público.</li>
        </ul>
        <h2>Desventajas o retos de la educación financiera</h2>
        <ul>
            <li><strong>Desafío para las personas con poca educación financiera previa:</strong> Si no tienes conocimientos previos sobre finanzas, puede resultar complejo y abrumador. Los términos técnicos y la teoría pueden dificultar la comprensión de los conceptos iniciales.</li>
            <li><strong>Acceso limitado a recursos en algunas regiones:</strong> Aunque hay abundante información en línea, muchas personas en áreas rurales o de bajos recursos no tienen acceso fácil a educación financiera de calidad.</li>
            <li><strong>Resistencia al cambio de hábitos:</strong> Aunque tengas el conocimiento, cambiar hábitos financieros profundamente arraigados puede ser desafiante. A veces, las personas no implementan lo aprendido por falta de disciplina o motivación.</li>
            <li><strong>Posibilidad de malas asesorías:</strong> Aunque la educación financiera puede ofrecerte principios correctos, no todas las fuentes son confiables. Es importante aprender a diferenciar entre información legítima y consejos engañosos.</li>
        </ul>
        <h2>Aspectos clave de la educación financiera</h2>
        <ul>
            <li><strong>Presupuestación y planificación del dinero:</strong> Aprender a establecer un presupuesto personal para controlar ingresos, gastos y ahorros es un pilar de la educación financiera. A través de presupuestos, puedes asignar cantidades específicas a necesidades, deseos y priorizar el ahorro.</li>
            <li><strong>Conceptos de ahorro e inversión:</strong> La educación financiera no solo se trata de saber ahorrar, sino también de invertir para obtener mayores rendimientos a largo plazo. Esto incluye entender los riesgos y oportunidades de instrumentos como acciones, bonos, fondos de inversión y bienes raíces.</li>
            <li><strong>Gestión de deudas y crédito:</strong> Muchas personas caen en deudas por no comprender cómo funcionan los créditos y las tasas de interés. La educación financiera enseña el uso responsable del crédito, el pago de deudas y la evitación de errores comunes en el endeudamiento.</li>
            <li><strong>El impacto de las decisiones fiscales:</strong> Comprender los impuestos y su cálculo ayuda a tomar decisiones informadas, maximizar deducciones fiscales y reducir la carga tributaria.</li>
            <li><strong>Seguros y protección:</strong> La educación financiera abarca cómo proteger tus activos y salud mediante seguros, como seguros de vida, salud, auto y propiedad, para mitigar riesgos y evitar consecuencias financieras graves.</li>
            <li><strong>La importancia de la educación financiera para la familia:</strong> Enseñar a niños y jóvenes a ser responsables con el dinero desde pequeños es fundamental. Ayudar a futuras generaciones a desarrollar buenas bases económicas les proporcionará una vida financiera más estable.</li>
        </ul>                
    </p>
    </div>
    <Footer tik="https://www.tiktok.com/@finwisecu?_t=8rINwv49GsC&_r=1" image="/logo.png"></Footer>

</Layout>
</div>
<style>
    body{
        background-color:  rgba(255, 255, 255);
        margin-top: 0;
    }
main {
    margin: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}

p {
    line-height: 1.6;
    font-size: 2.5vh; /* Ajusta el valor según tus necesidades */
}

li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    line-height: 1.6; /* Ajusta el valor según tus necesidades */
    text-align: justify;

}

.encabezado{
    display: flex;
}

.encabezado img{
    width: 100px;
    height: 100px;
}

.Seccion {
    width: 60%;
    margin: auto;
}

.Seccion p {
    text-align: justify;
}

.video-container{
    display: flex;
    justify-content: center;

}

.info {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 10px;
}

.info p {
    width: 100%;
}

.info div {
    width: 30%;
    margin: auto;
}

.imagen
{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2vh;
}
.imagen img{
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p, li {
        font-size: 1rem;
    }

    .Seccion {
        width: 90%;
    }

    .info {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    .info p, .info div {
        width: 100%; /* Ocupa todo el ancho */
    }

    .info img {
        width: 100%;
        max-width: 300px; /* Limita el tamaño máximo en pantallas pequeñas */
    }
}

</style>
